<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="bg-prime h-screen flex flex-col item-center justify-center w-screen">
      <h3 class="text-3xl capitalize">404 page not found</h3>
      <div>
        <a href="/">Move back to home Page</a>
      </div>
    </div>
  </body>
</html>
