---
import '@fontsource-variable/roboto-flex';
import Nav from "../Components/Nav";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
  <div class="bg-[#f8f4f0] p-4 lg:p-8">
    <Nav />
    <div class="text-xl font-bold">
      <h4>Backing a better tomorrow</h4>
    </div>
    </div>
  </body>
</html>
