---
import Navbar from "../Components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Portfolio --</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="bg-[#f8f4f0] p-4 lg:p-8">
      <!-- navbar component -->
      <Navbar />
      <div class="flex item-center" id="hover">
        <p> Do Hang Tight</p>
      </div>
      <div class="text-xl font-bold">
        <h4 id="title">Backing a better tomorrow</h4>
      </div>
      <div id="mainHeading">
        <!-- <h3 id="ptag" class="text-5xl">Main heading</h3> -->
        <h3 id="new" class="text-5xl">Portfolio Website</h3>
      </div>
      <div id="yellow" class="h-[20vh] bg-yellow-400 w-full">
        <h3>Content</h3>
        <i data-lucide="menu"></i>
      </div>
      <div>

      <!-- card -->
      <!--   <div> -->
      <!--     <div class="space-y-3"> -->
      <!--       <h3 class="text-sm">See our Products</h3> -->
      <!--       <img src="https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" class="w-[300px] object-cover h-[400px]" /> -->
      <!--     </div> -->
      <!-- </div> -->
      <main id="main-container"></main>
      <main id="wrap" class="flex item-center gap-4">

      </main>
        <template id="card-template">
          <h3>textplate item 1</h3>
          <h4>welcome to our website</h4>
        </template>

      </div>
      <script>
        const wrap = document.getElementById("wrap");
        const card_template = document.getElementById("card-template");
        
        const content = card_template?.content?.cloneNode(true)
        const content2 = card_template?.content?.cloneNode(true)
        wrap?.appendChild(content)
        wrap?.appendChild(content2)

      </script>
      <!-- <script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script> -->
      <script src="../scripts/localGsap.js"></script>
      <script src="../scripts/main.js"></script>
      <script src="../scripts/app.js"></script>
    </div>
  </body>
</html>
